# MIUI ADD: Charger_DebugEnhance
on property:sys.boot_completed=1
    chmod 0664 /sys/class/qcom-battery/pd_verifed
    chmod 0664 /sys/class/qcom-battery/request_vdm_cmd
    chmod 0664 /sys/class/qcom-battery/verify_process
    chmod 0664 /sys/class/qcom-battery/authentic
    chmod 0664 /sys/class/qcom-battery/verify_slave_flag
    chmod 0664 /sys/class/qcom-battery/slave_authentic
    chmod 0664 /sys/class/qcom-battery/is_old_hw

service batterysecret /vendor/bin/batterysecret
    class last_start
    user root
    group system system wakelock
    disabled
    seclabel u:r:batterysecret:s0

on property:sys.boot_completed=1
    start batterysecret
    wait /sys/class/qcom-battery/double85 30
    wait /sys/class/qcom-battery/remove_temp_limit 2
    chmod 0664 /sys/class/qcom-battery/double85
    chmod 0664 /sys/class/qcom-battery/remove_temp_limit
    write /dev/kmsg "<3>init.batterysecret.rc: the double85 and remove_temp_limit node now already exist"
    write /sys/class/qcom-battery/double85 ${persist.sys.charger.double85}
    write /sys/class/qcom-battery/remove_temp_limit ${persist.sys.charger.remove_temp_limit}

#run batterysecret in off-charge mode
on charger
    start batterysecret
    chmod 0664 /sys/class/qcom-battery/pd_verifed
    chmod 0664 /sys/class/qcom-battery/request_vdm_cmd
    chmod 0664 /sys/class/qcom-battery/verify_process
    chmod 0664 /sys/class/qcom-battery/authentic
    chmod 0664 /sys/class/qcom-battery/verify_slave_flag
    chmod 0664 /sys/class/qcom-battery/slave_authentic
    chmod 0664 /sys/class/qcom-battery/is_old_hw

on property:persist.sys.charger.double85=1
    write /dev/kmsg "<3>init.batterysecret.rc: persist.sys.charger.double85 changed: 1"
    write /sys/class/qcom-battery/double85 1

on property:persist.sys.charger.double85=0
    write /dev/kmsg "<3>init.batterysecret.rc: persist.sys.charger.double85 changed: 0"
    write /sys/class/qcom-battery/double85 0

on property:persist.sys.charger.remove_temp_limit=1
    write /dev/kmsg "<3>init.batterysecret.rc: persist.sys.charger.remove_temp_limit changed: 1"
    write /sys/class/qcom-battery/remove_temp_limit 1

on property:persist.sys.charger.remove_temp_limit=0
    write /dev/kmsg "<3>init.batterysecret.rc: persist.sys.charger.remove_temp_limit changed: 0"
    write /sys/class/qcom-battery/remove_temp_limit 0

# END Charger_DebugEnhance
